*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Cairo',sans-serif;

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;
align-items:center;

background:
linear-gradient(
135deg,
#ffd6e7,
#ffe8d6,
#fff0c9,
#caf0f8
);

}

#introScreen{

text-align:center;

}

#introScreen h1{

font-size:90px;

color:#7a284f;

margin-bottom:20px;

}

#introScreen p{

font-size:28px;

margin-bottom:40px;

color:#555;

}

#playBtn{

padding:18px 50px;

border:none;

border-radius:50px;

font-size:24px;

cursor:pointer;

font-family:'Cairo',sans-serif;

background:
linear-gradient(
135deg,
#ffb6d9,
#ffd6e7
);

}

#movieScreen{

display:none;

width:100%;

text-align:center;

padding:40px;

}

.scene img{

width:900px;

max-width:90vw;

border-radius:25px;

box-shadow:
0 25px 70px rgba(0,0,0,.25);

animation:
zoomScene 8s linear;

}

.scene h2{

font-size:48px;

margin-top:25px;

color:#7a284f;

}

.scene p{

font-size:24px;

margin-top:15px;

color:#555;

}

#nextScene{

margin-top:30px;

padding:15px 40px;

border:none;

border-radius:50px;

font-size:22px;

cursor:pointer;

}

@keyframes zoomScene{

from{

transform:scale(1);

}

to{

transform:scale(1.05);

}

}
.fade-out{

opacity:0;

transition:.4s;

}

#movieScreen{

transition:.4s;

}

#nextScene{

padding:18px 45px;

border:none;

border-radius:60px;

cursor:pointer;

font-size:22px;

font-family:'Cairo',sans-serif;

font-weight:700;

background:
linear-gradient(
135deg,
#ffb6d9,
#ffd6e7
);

box-shadow:
0 15px 30px rgba(0,0,0,.15);

transition:.4s;

}

#nextScene:hover{

transform:
translateY(-4px)
scale(1.05);

}

.final-message{

display:flex;

flex-direction:column;

justify-content:center;
align-items:center;

height:70vh;

text-align:center;

}

.final-message h1{

font-size:100px;

margin-bottom:20px;

}

.final-message h2{

font-size:55px;

max-width:800px;

color:#7a284f;

}

.final-message p{

font-size:28px;

margin-top:25px;

color:#555;

}

.final-btn{

margin-top:40px;

padding:18px 50px;

border-radius:60px;

text-decoration:none;

font-size:24px;

font-weight:700;

background:
linear-gradient(
135deg,
#ffb6d9,
#ffd6e7
);

color:#5a2d45;

box-shadow:
0 15px 35px rgba(0,0,0,.15);

transition:.4s;

}

.final-btn:hover{

transform:
translateY(-5px)
scale(1.05);

}
